/* custom font for heading  */
h2{
    font-family: 'Oswald', sans-serif;
}
/* custom font for all other text */
p,label,input{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/* color for p tags */
p{
    color: orange;
}
/* size and align of the heading */
.form-row h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
/* design of the input form */
.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
/* space between labels and inputs */
.control-label{
    margin-right: 100px;
}
/* color of the button */
.btn{
    background-color: #ff8800;
}
